body{
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

/* @media (max-width: 415px){ */

    .barratopo {
        width: 100%;
        height: 80px;
        background-color: yellow;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        filter: drop-shadow(0 0 0.75rem grey);
    }

    .logo {
        height: 53px;
        width: 75px;
        left: 22px;
        top: 16px;
        border-radius: 0px;
        padding-left: 15px;
    }

    .chat {
        width: 100vw;
        height: 100vh;
        padding-top: 106px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        display: inline-flex;
    }

    p {
        width: 100vw;
        height: 40px;
        background-color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }

    footer {
        width: 100vw;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        filter: drop-shadow(0 0 0.75rem grey);
        position: fixed;
        bottom: 0;
    }

    .enviarmsg {
        height: 30px;
        width: auto;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 17px;
    }

    ion-icon {
        font-size: 26px;
        padding-right: 27px;
    }
    
    /* --------MENU-------- */

    .botaomenu {
        width: 30px;
    }

    .menu {
        width: 300px;
        height: 100vh;
        position: absolute;
        background-color: red;
        right: 0px;
        top:80px;
    }
    
    .opcoes{
        background-color: blue;
        position: absolute;
        width: 100%;
    }

    h1, h2 {
        background-color: pink;
        padding: 5px;
    }

    .pessoason, .privacidade{
        background-color: pink;
        padding: 5px;
    }
    #check:checked ~ .menu {
        transform: translateX(300px)
    }

/* } */