body{
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

    .barratopo {
        width: 100%;
        height: 80px;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        filter: drop-shadow(0 0 0.75rem grey);
        z-index: 1;
    }

    .opaco {
        height: 100%;
        width: calc(100vw - 300px);
        position: absolute;
        z-index: 2;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);;
        display: none;
    }

    .logo {
        height: 53px;
        width: 75px;
        left: 22px;
        top: 16px;
        border-radius: 0px;
        padding-left: 15px;
    }
    
    footer {
        width: 100vw;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        filter: drop-shadow(0 0 0.75rem grey);
        position: fixed;
        bottom: 0;
        z-index: 0;
        padding-left: 10px;
    }
    
    .enviarmsg {
        height: 30px;
        width: 310px;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        border: none;
    }
    
    .paper-plane-outline {
        font-size: 26px;
        padding-right: 30px;
        padding-left: 17px;
    }
    
    /* -----------CHAT------------ */
    
    .chat {
        width: 100%;
        height: 100vh;
        padding-top: 106px;
        padding-bottom: 84px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        display: inline-flex;
    }

    .mensagensrecebidasstatus {
        width: 100vw;
        height: auto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 7px;
        background-color: #DCDCDC;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mensagensrecebidasmessage {
        background-color: white;
        width: 100vw;
        height: auto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 7px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mensagensrecebidasreservada{
        background-color: #FFDEDE;
        width: 100vw;
        height: auto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 7px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tamanhodamsg {
        width: 97vw;
        height: auto;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .tempo {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: grey;
        padding-right: 5px;
    }
    
    .para, .texto {
        max-width: 100%;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-right: 5px;
        
    }

    .para {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .espaco {
        width: 100%;
        min-height: 4px;
    }
    
    /* --------MENU-------- */
    
    .botaomenu {
        padding-right: 17px;
        width: 30px;
    }
    
    .menu {
        width: 300px;
        height: 100vh;
        position: absolute;
        background-color: white;
        right: 0px;
        top: 0;
        transition: linear;
        transition-duration: 0.2s;
        display: none;
    }
    
    .opcoes{
        position: absolute;
        width: 100%;
    }

    .esquerdadomenu {
        display: flex;
    }

    
    .todos, .reservado, .publico{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        min-height: 36px;
        padding-left: 7px;
    }
    
    .nomesmenu {
        padding-left: 7px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .people-icon, .lock-closed-icon, .lock-open-icon, .person-circle-icon {
        font-size: 23px;
    }
    
    .people-menu-icon {
        font-size: 30px;
        padding-right: 17px;
    }

    .checkmark-outline-icon {
        color: green;
        width: 23px;
        padding-right: 7px;
    }

    .tituloummenu, .titulodoismenu {
        height: 84px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        width: 100%;
    }

    .titulodoismenu {
        height: 66px;
    }

    .pessoason {
        overflow-x: hidden;
        display: inline-flex;
        flex-direction: column;
        max-height: 50vh;
        width: 100%;
    }
